<header id="main-header">
<div class="content clearfix">
  <h1 class="pull-left">Mindful Custom Breakpoint <i class="fa fa-twitter"></i> Bootstrap </h1>
  <ul class="list-unstyled icons pull-right" id="breakpoints-navigation">
    <li class="breakpoint-icon active" data-breakpoint="lg">
      <i class="fa fa-desktop fa-2x"></i>
      <span>col-lg</span>
    </li>
    <li class="breakpoint-icon" data-breakpoint="md">
      <i class="fa fa-desktop fa-2x"></i>
      <span>col-md</span>
    </li>
    <li class="breakpoint-icon" data-breakpoint="sm">
      <i class="fa fa-tablet fa-2x"></i>
      <span>col-sm</span>
    </li>
    <li class="breakpoint-icon" data-breakpoint="xs">
      <i class="fa fa-mobile fa-2x"></i>
      <span>col-xs</span>
    </li>
  </ul>
  </div>
</header>
