<header id="main-header"  class="container custom-layout">
  <div class="row">
    <h1 class="col-sm-4">
      Simplify <i class="fa fa-twitter"></i> Bootstrap
    </h1>
    <div class="col-sm-8 icons">
      <ul class="list-unstyled" id="breakpoints-navigation">
        <li class="breakpoint-icon" data-breakpoint="lg">
          <i class="fa fa-desktop fa-2x"></i>
          <span>col-lg</span>
        </li>
        <li class="breakpoint-icon" data-breakpoint="md">
          <i class="fa fa-desktop fa-2x"></i>
          <span>col-md</span>
        </li>
        <li class="breakpoint-icon" data-breakpoint="sm">
          <i class="fa fa-tablet fa-2x"></i>
          <span>col-sm</span>
        </li>
        <li class="breakpoint-icon" data-breakpoint="xs">
          <i class="fa fa-mobile fa-2x"></i>
          <span>col-xs</span>
        </li>
      </ul>
    </div>
  </div>
</header>
