<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>Menu</p>
  </div>
  <nav class="sidebar-nav">
    <span class="sidebar-nav-item">
      <a href="http://www.gizra.com"><span class="gizra-logo">gizra</span></a> |
      <a href="https://github.com/YaronMiro">Yaron Miro</a>
    </span>
  </nav>
</div>
