#main-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 7px;
  min-width: $screen-lg-min;
  color: $text;

  .content {

    ul {
      text-align: center;
      margin: 3px 0px 0px 0px;

      li {
        display: inline;

        &:hover {
          a {
            color: inherit;
          }
        }

        &:not(:first-child):before {
          content: "|";
          color: $text;
        }

        a {
          color: inherit;
          padding: 0px 4px;
          text-decoration: none;
        }
      }
    }

    .gizra-logo {
      font-size: 20px;
      text-transform: lowercase;
      font-family: Abril Fatface;
      color: $gizra;
    }
  }
}
