#main-footer {
  color: $text;

  ul {
    text-align: center;
    margin: 2px 0px 0px 0px;

    li {
      display: inline;

      &:hover {
        a {
          color: inherit;
        }
      }

      &:not(:first-child):before {
        content: "|";
        color: $text;
      }

      a {
        color: inherit;
        padding: 0px 4px;
        text-decoration: none;
      }
    }
  }

  .gizra-logo {
    font-size: 20px;
    text-transform: lowercase;
    font-family: Abril Fatface;
//    color: $gizra;
  }
}
