#main-header {
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
  background-color: $header-bg;

  h1 i {
    line-height: 65px;
    color: $gray-light;
  }

  a {
    color: white;
    text-decoration: none;
  }

  #breakpoints-navigation,
  #main-navigation {
    margin-bottom: 0px;
  }

  #main-navigation {
    padding-top: 13px;

    @include desktop {
      float: right;
      height: 36px;
      line-height: 36px;
    }

    @include mobile {
      float: none;
      text-align: center;
    }

    li {
      padding-left: 0px;
      padding-right: 0px;

      &:hover {

        a {
          color: inherit;
        }
      }

      &:not(:first-child):before {
        content: "|";
        padding-right: 7px;
        padding-left: 7px;
        color: rgba(255, 255, 255, 0.52);
      }

      a {
        text-decoration: none;

        span {
          color: $gray-light;
          text-decoration: none;
        }
      }
    }
  }
  
  #breakpoints-navigation {
    height: 65px;
    padding-left: 0px;
    padding-right: 0px;

    li {
      float: left;
      display: block;
      cursor: pointer;
      height: 65px;
      border-left: 1px solid rgba(255, 255, 255, 0.12);
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 21px;

      &:last-child {
        border-right: 1px solid rgba(255, 255, 255, 0.12);
      }

      &[data-breakpoint="lg"].active {
        color: $col-lg;
      }

      &[data-breakpoint="md"].active {
        color: $col-md;
      }

      &[data-breakpoint="sm"].active {
        color: $col-sm;
      }

      &[data-breakpoint="xs"].active {
        color: $col-xs;
      }

      i {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .gizra-logo {
    font-size: 20px;
    text-transform: lowercase;
    font-family: Abril Fatface;
    color: $gizra;
  }
}
