#main-header {
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: $header-bg;

  h1 i {
    color: $gray-light;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .links {
    padding-left: 0px;
    list-style: none;

    @include desktop {
      float: right;
      height: 36px;
      line-height: 36px;
    }

    @include mobile {
      float: none;
      text-align: center;
    }

    li {
      display: inline;

      &:hover {

        a {
          color: inherit;
        }
      }

      &:not(:first-child):before {
        padding-right: 7px;
        padding-left: 7px;
        color: rgba(255, 255, 255, 0.52);
      }

      a {
        text-decoration: none;

        span {
          color: $gray-light;
          text-decoration: none;
        }
      }
    }
  }

  .gizra-logo {
    font-size: 20px;
    text-transform: lowercase;
    font-family: Abril Fatface;
    color: $gizra;
  }
}
