/* Variables */
$white-smoke: rgba(0, 0, 0, 0.15);
$gray-dark: #202020;
$gizra: #e27058;
$gizra-dark: #A95C4C;
$title: #676363;
$header-bg: #2D2D38;
$gray-light: rgba(255, 255, 255, 0.66);
$pastel-red: rgba(148, 49, 40, 0.61);
$pastel-orange: rgba(255, 154, 69, 0.77);
$pastel-green: rgba(35, 143, 118, 0.86);
$pastel-blue: rgba(18, 106, 214, 0.63);

/* Border radius */
@mixin border-radius ($value: 3px) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
  // keeps background from busting out of border
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* Transition */
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin responsive {

  @include transition(background-color 0.7s ease);

  @include col-lg {
    background-color: $pastel-blue;
  }

  @include col-md {
    background-color: $pastel-green;
  }

  @include col-sm {
    background-color: $pastel-orange;
  }

  @include col-xs {
    background-color: $pastel-red;
  }

}
