
/* Variables */
$white-smoke: rgba(0, 0, 0, 0.15);
$gray-dark: #202020;
$gizra: #e27058;
$gizra-dark: #A95C4C;
$pastel-orange: #ff9a45;
$pastel-green: #238f76;
$pastel-blue: rgba(18, 133, 255, 0.78);

/* Desktop */
@mixin custom-desktop {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

/* Mobile */
@mixin custom-mobile {
  @media (max-width: $screen-xs-max) {
    @content;
  }
}

/* Border radius */
@mixin border-radius ($value: 3px) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
  // keeps background from busting out of border
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
