/* 
The main SCSS file for everything, yep
*/

@import "mixin";
@import "custom_bootstrap";
@import "poole";
@import "syntax";
@import "lanyon";

body {
  font-family: 'Fira Sans', arial, sans-serif;
  background: rgba(187, 182, 162, 0.3);
}

.responsive-points {
  width: 100%;
  color: white;

  div {
    padding: 3px;

    &.visible-xs {
      background: $gizra;
    }

    &.visible-sm {
      background: #ff9a45;
    }

    &.visible-md {
      background: #238f76;
    }

    &.visible-lg {
      background: rgba(18, 133, 255, 0.78);
    }
  }
}

h3 {
  color: $gizra-dark;
  font-family: 'Droid Serif', serif;
  margin-bottom: 25px;
}

hr {
  display: block;
  margin: 11px 0px;
  height: 1px;
  border-bottom: 1px solid rgb(218, 217, 209);
  background: #EAE9E3;
}

.masthead {
  background-color: $gray-dark;

  a {
    color: white;
    text-decoration: none;
  }
}

.info {

  @include desktop-only {
    float: right;
  }

  @include mobile-only {
    float: none;
    text-align: center;
  }
}

.gizra-logo {
  font-size: 20px;
  text-transform: lowercase;
  font-family: Abril Fatface;
  color: $gizra;
}

.wrapper {

  .box {
    div {
      padding-top: 20px;
      padding-bottom: 20px;
      border: 1px solid rgba(128, 128, 128, 0.28);
      @include border-radius(5px);
      color: $gizra;
      background: white;
      @include box-shadow(0px 6px 7px -3px rgba(0, 0, 0, 0.06));
      margin-bottom: 10px;
    }
  }
}
