@import "mixin";
@import "custom_bootstrap";
@import "default_bootstrap";
@import "breakpoint_live_monitor";
@import "header";
@import "footer";

html {
  position: relative;
  min-height: 100%;
  background: $body-bg;
}

body {
  padding-bottom: 60px;
  font-family: 'Fira Sans', arial, sans-serif;
}

h1 {
  margin:0;
  font-size: 32px;

  i {
    color: white;
  }

  @include mobile {
    text-align: center;
  }
}

h3 {
  color: $text;
  font-family: 'Droid Serif', serif;
  margin-bottom:0;
}

pre {
  display: inline-block;
  padding: 3px;
  margin:0 0 0 5px;
  color: #E27057;
  background-color: #f5f5f5;
  border: 1px solid rgba(204, 204, 204, 0);
  vertical-align: middle;
}

hr {
  display: block;
  margin: 11px 0;
  height: 1px;
  border-bottom: 1px solid rgb(218, 217, 209);
  background: #EAE9E3;

  &.no-margin {
    margin:0;
  }
}

.info {
  display: inline-block;
  margin: 25px 0 0 0;
  padding: 10px;
  border: 1px solid rgba(103, 99, 99, 0.29);
  @include border-radius(5px);
  color: $text;
  background: rgba(255, 255, 255, 0.39);
  font-size: 15px;
}

.content {
  margin: 0 auto;
  width: $screen-lg-min;
}

iframe {
  margin:0 auto;
  min-height: 615px;
  margin: 25px auto 20px auto;
  @include transition(width 0.5s ease);
  display: block;
  border: 1px solid rgba(45, 45, 56, 0.11);
  @include border-radius(5px);
  @include box-shadow(0 0 10px rgba(0,0,0,0.1));

  &.xs {
    width: ($screen-xs-min);
  }

  &.sm {
    width: ($screen-sm-min + 2);
  }

  &.md {
    width: ($screen-md-min + 2);
  }

  &.lg {
    width: ($screen-lg-min + 2);
  }

}

.col-lg-color {
  color: $col-lg;
}

.col-md-color {
  color: $col-md;
}

.col-sm-color {
  color: $col-sm;
}

.col-xs-color {
  color: $col-xs;
}

.description {
  margin-top: 10px;
  margin-bottom: 20px;
  color: $text;
  font-size: 18px;
}

.custom-layout,
.default-bootstrap {

  header {
    @include mobile {
      text-align: center;
    }
  }

  .box div {
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgba(128, 128, 128, 0.28);
    @include border-radius(5px);
    color: white;
    font-weight: bold;
    @include box-shadow(0px 6px 7px -3px rgba(0, 0, 0, 0.06));
  }
}

.custom-layout {
  .box div {
    @include desktop {
      margin-bottom: 0;
    }

    @include responsive-custom-layout;
  }
}

.default-bootstrap {
  .box div {
    @include responsive-default-bootstrap;
  }
}
