<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body>
  {% include breakpoint-live-monitor.html %}
  <header>
    <div class="container">
      <div class="row">
        <h1 class="col-sm-8">
          Simplify <i class="fa fa-twitter"></i> Bootstrap
        </h1>
        <div class="col-sm-4">
          <div class="info">
            <a href="http://www.gizra.com"><span class="gizra-logo">gizra</span></a> |
            <a href="https://github.com/YaronMiro">Yaron Miro</a>
          </div>
        </div>
      </div>
    </div>
    </header>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
