<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body>
  {% include breakpoint-live-monitor.html %}
  <header>
    <div class="container">
      <div class="row">
        <h1 class="col-sm-8">
          Simplify <i class="fa fa-twitter"></i> Bootstrap
        </h1>
        <div class="col-sm-4">
          <ul class="links">
            <li class="gizra-logo">
              <a class="gizra-logo" href="http://www.gizra.com/" target="_blank">gizra</a>
            </li>
            <li>
              <a href="https://github.com/YaronMiro/AngularJs-UI-Router---Example" target="_blank">
                <span class="fa fa-github" aria-hidden="true"></span> Get the code
              </a>
            </li>
            <li>
              <a href="https://github.com/YaronMiro" target="_blank">
                <span class="fa fa-user" aria-hidden="true"></span> Yaron Miro
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </header>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
