<div class="col-xs-12">
  <h3>Our custom responsive layout (2 breakpoints)</h3>
</div>
<div class="col-xs-12">
  <div class="wrapper text-center">
    <div class="row">
        <div class="box col-xs-6 col-sm-3">
          <div>
            <span class="visible-xs">col-xs-6</span>
            <span class="hidden-xs">col-sm-3</span>
          </div>
        </div>
        <div class="box col-xs-6 col-sm-3">
          <div>
            <span class="visible-xs">col-xs-6</span>
            <span class="hidden-xs">col-sm-3</span>
          </div>
        </div>
        <div class="box col-xs-6 col-sm-3">
          <div>
            <span class="visible-xs">col-xs-6</span>
            <span class="hidden-xs">col-sm-3</span>
          </div>
        </div>
        <div class="box col-xs-6 col-sm-3">
          <div>
            <span class="visible-xs">col-xs-6</span>
            <span class="hidden-xs">col-sm-3</span>
          </div>
        </div>
    </div>
  </div>
</div>
