<header class="col-xs-12">
  <h3>Custom responsive layout</h3>
  <div class="description">2 breakpoints:
    <pre class="col-sm-color">col-sm</pre>
    <pre class="col-xs-color">col-xs</pre>
  </div>
</header>
<div class="col-xs-12">
  <div class="row text-center">
    <div class="box col-xs-6 col-sm-3">
      <div>
        <span class="visible-xs">col-xs-6</span>
        <span class="hidden-xs">col-sm-3</span>
      </div>
    </div>
    <div class="box col-xs-6 col-sm-3">
      <div>
        <span class="visible-xs">col-xs-6</span>
        <span class="hidden-xs">col-sm-3</span>
      </div>
    </div>
    <div class="box col-xs-9 col-sm-3">
      <div>
        <span class="visible-xs">col-xs-9</span>
        <span class="hidden-xs">col-sm-3</span>
      </div>
    </div>
    <div class="box col-xs-3 col-sm-3">
      <div>
        <span class="visible-xs">col-xs-3</span>
        <span class="hidden-xs">col-sm-3</span>
      </div>
    </div>
  </div>
</div>
