<h3 class="col-xs-12">2 Breakpoints layout (col-xs and col-sm)</h3>
<div class="col-xs-12">
    <div class="row wrapper text-center">
      <div class="box col-xs-12 col-sm-1">
        <span>1</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>2</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>3</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>4</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>5</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>6</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>7</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>8</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>9</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>10</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>11</span>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <span>12</span>
      </div>
    </div>
</div>
