<div class="col-xs-12">
  <h3>2 Breakpoints layout (col-xs and col-sm)</h3>
</div>
<div class="col-xs-12">
  <div class="wrapper text-center">
    <div class="row">
      <div class="box col-xs-12 col-sm-1">
        <div>1</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>2</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>3</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>4</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>5</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>6</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>7</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>8</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>9</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>10</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>11</div>
      </div>
      <div class="box col-xs-12 col-sm-1">
        <div>12</div>
      </div>
    </div>
  </div>
</div>
<hr/>
